{% extends "base-pdf.html.twig" %}

{% block title %}Liste des données de {{app.user.prenom}} {{app.user.nom}}{% endblock %}
{% block body %}
    <h1>Liste des données de {{app.user.prenom}} {{app.user.nom}}</h1>
    <h2>Vos données</h2>
    <table border=1>
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Pays</th>
                <th scope="col">Mail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ app.user.nom }}</td>
                <td>{{ app.user.prenom }}</td>
                <td>{{ app.user.pays }}</td>
                <td>{{ app.user.username }}</td>

                
            </tr>
        </tbody>
    </table>
    
{% endblock %}